# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
audioread=2.1.9=pypi_0
cudatoolkit=11.1.74=h6bb024c_0
ffmpeg=4.3=hf484d3e_0
lame=3.100=h7b6447c_0
librosa=0.8.1=pypi_0
llvmlite=0.36.0=pypi_0
matplotlib=3.4.2=pypi_0
numba=0.53.1=pypi_0
numpy=1.20.2=py37h2d18471_0
pyparsing=2.4.7=pypi_0
python=3.7.10=h12debd9_4
python-dateutil=2.8.1=pypi_0
python-levenshtein=0.12.2=pypi_0
pytorch=1.9.0=py3.7_cuda11.1_cudnn8.0.5_0
pyyaml=5.4.1=pypi_0
scikit-learn=0.24.2=pypi_0
scipy=1.7.0=pypi_0
soundfile=0.10.3.post1=pypi_0
sqlite=3.36.0=hc218d9a_0
tensorboardx=2.4=pypi_0
torchaudio=0.9.0=py37
torchvision=0.10.0=py37_cu111
tqdm=4.62.3=pyhd3eb1b0_1
urllib3=1.26.6=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
yarl=1.7.2=pypi_0
